@charset "UTF-8";
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img, input {
  margin: 0;
  padding: 0;
}

ul, ol, li {
  list-style: none;
}

a, u {
  text-decoration: none;
}

b, strong {
  font-weight: 100;
}

i, em {
  font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 16px;
  font-weight: 100;
}

img {
  display: block;
  border: 0;
}

.clearfix:after {
  content: ".";
  clear: both;
  display: block;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

body {
  font-size: 12px;
  color: #666;
  font-family: arial, \5b8b\4f53;
}
body a {
  color: #666;
}

.LETTRD-RED {
  color: #ff1a3a !important;
}

.info-con, .head-box, .nav-con {
  width: 1200px;
  margin: 0 auto;
}

/*head-info*/
#head-info {
  height: 33px;
  background: url(../img/headbg.jpg) repeat-x;
  font-family: simsun,arial,'Arial Narrow',serif;
}
#head-info .info-con {
  height: 33px;
  line-height: 33px;
}
#head-info .info-con .head-welcome {
  float: left;
  width: 500px;
  height: 33px;
}
#head-info .info-con .user-control {
  float: right;
}
#head-info .info-con .user-control li {
  float: left;
  padding-right: 10px;
}
#head-info .info-con .user-control li:first-child {
  width: 60px;
  padding-left: 10px;
  position: relative;
}
#head-info .info-con .user-control li:first-child span {
  position: absolute;
  width: 7px;
  height: 4px;
  background: url(../img/detail.gif) no-repeat -252px -30px;
  top: 14px;
  left: 63px;
}
#head-info .info-con .user-control li:first-child .myaccount {
  width: 69px;
  display: none;
  position: absolute;
  top: 33px;
  left: -1px;
  border: 1px solid #dcdcdc;
  padding-left: 10px;
  border-top: none;
}
#head-info .info-con .user-control li:first-child .myaccount p {
  height: 20px;
  line-height: 20px;
}
#head-info .info-con .user-control li:first-child .myaccount p a:hover {
  color: #ff1a3a;
  text-decoration: underline;
}
#head-info .info-con .user-control li:first-child:hover {
  width: 59px;
  background: #fff;
  border: 1px solid #dcdcdc;
  border-top: none;
  border-bottom: none;
}
#head-info .info-con .user-control li:first-child:hover .myaccount {
  display: block;
}
#head-info .info-con .user-control .line {
  color: #ddd;
}
#head-info .info-con .user-control li:last-child {
  color: #ff1a3a;
  font-size: 18px;
  font-weight: 600;
  font-family: arial;
  padding-left: 30px;
  font-style: italic;
  position: relative;
}
#head-info .info-con .user-control li:last-child span {
  position: absolute;
  width: 16px;
  height: 13px;
  background: url(../img/detail.gif) no-repeat -269px -30px;
  top: 9px;
  left: 7px;
}

/*head-box*/
.head-box {
  height: 90px;
}
.head-box h1 {
  width: 320px;
  padding: 15px 0 0 35px;
  float: left;
}
.head-box h1 a {
  display: block;
  width: 150px;
  height: 60px;
}
.head-box .search {
  float: left;
  width: 650px;
  padding-top: 22px;
}
.head-box .search .input-key {
  width: 428px;
  height: 30px;
  border: 2px solid #02A3F0;
  position: relative;
}
.head-box .search .input-key input {
  width: 341px;
  height: 14px;
  color: #666;
  font-size: 14px;
  padding: 8px 10px;
  border: none;
  outline: none;
}
.head-box .search .input-key i {
  position: absolute;
  top: 9px;
  left: 338px;
  cursor: pointer;
  display: none;
}
.head-box .search .input-key strong {
  float: right;
  width: 67px;
  height: 30px;
  line-height: 30px;
  cursor: pointer;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  background: #02A3F0;
}
.head-box .search .input-key:hover input {
  background: url(../img/detail.gif) no-repeat 0 0;
}
.head-box .search .input-key:hover i {
  display: inline;
}
.head-box .search p {
  height: 22px;
  padding-top: 3px;
  line-height: 22px;
}
.head-box .search p a {
  padding: 3px;
}
.head-box .search p a:first-child, .head-box .search p a:nth-child(4) {
  color: #ff1a3a;
}
.head-box .search p a:hover {
  color: #ff1a3a;
  text-decoration: underline;
}
.head-box .shop {
  float: right;
  margin-top: 20px;
  position: relative;
  line-height: 44px;
  text-align: center;
}
.head-box .shop .shop-car {
  width: 195px;
  height: 44px;
  background: url(../img/detail.gif) no-repeat 0 -30px;
  cursor: pointer;
  position: relative;
}
.head-box .shop .shop-car span {
  margin: 0 4px;
  color: #ff1a3a;
  font-weight: 600;
  font-family: "微软雅黑";
}
.head-box .shop .shop-list {
  position: absolute;
  width: 290px;
  max-height: 374px;
  background: #fff;
  border: 1px solid #dcdcdc;
  left: -98px;
  top: 42px;
  padding-top: 10px;
  display: none;
}
.head-box .shop:hover .shop-car {
  height: 43px;
  background: url(../img/detail.gif) no-repeat 0 -74px;
  z-index: 10001;
}
.head-box .shop:hover .shop-list {
  display: block;
  z-index: 10000;
}

/*nav*/
#nav {
  width: 100%;
  height: 40px;
  background: url(../img/navbg.jpg) repeat-x;
}
#nav .nav-con {
  font-size: 16px;
  line-height: 40px;
}
#nav .nav-con .all-list {
  float: left;
  width: 230px;
  text-align: center;
  color: #fff;
  font-family: "微软雅黑";
  background: url(../img/detail.gif) no-repeat 0 -117px;
  cursor: pointer;
  position: relative;
}
#nav .nav-con .all-list dl {
  display: none;
  width: 230px;
  cursor: auto;
  position: absolute;
  z-index: 10;
  text-align: left;
}
#nav .nav-con .all-list dl dt {
  width: 208px;
  height: 77px;
  background: #f8f8f8;
  border: 1px solid #e7e7e7;
  border-top: none;
  padding-top: 13px;
  padding-left: 20px;
  position: relative;
  z-index: 11;
}
#nav .nav-con .all-list dl dt h3 {
  height: 24px;
  line-height: 24px;
  font-size: 14px;
}
#nav .nav-con .all-list dl dt h3 a {
  color: #333;
  font-family: "微软雅黑";
  font-weight: bold;
}
#nav .nav-con .all-list dl dt h3 em {
  float: right;
  width: 6px;
  height: 9px;
  margin-top: 6px;
  margin-right: 30px;
  background: url(../img/detail.gif) no-repeat -310px -30px;
}
#nav .nav-con .all-list dl dt p {
  height: 44px;
  line-height: 22px;
  font-size: 12px;
}
#nav .nav-con .all-list dl dt p a {
  float: left;
  font-family: simsun;
  margin-right: 13px;
  white-space: nowrap;
}
#nav .nav-con .all-list dl .hover {
  width: 210px;
  background: #fff;
  border: 1px solid #bdbdbd;
  border-right: none;
  border-left: 2px solid #00adff;
  padding-left: 19px;
  padding-top: 12px;
}
#nav .nav-con .all-list dl dd {
  display: none;
  width: 650px;
  background: #fff;
  border: 1px solid #bdbdbd;
  position: absolute;
  left: 230px;
  top: -80px;
  z-index: 10;
}
#nav .nav-con .all-list dl dd .second-list {
  float: left;
  width: 380px;
  padding: 0 20px;
  font-size: 12px;
  font-family: simsun;
}
#nav .nav-con .all-list dl dd .second-list li {
  width: 380px;
  border-bottom: 1px dotted #ccc;
  padding: 10px 0;
  line-height: 22px;
  overflow: hidden;
}
#nav .nav-con .all-list dl dd .second-list li h4 {
  float: left;
  width: 70px;
  font-size: 12px;
  line-height: 22px;
  font-weight: bold;
  font-family: simsun;
}
#nav .nav-con .all-list dl dd .second-list li h4 a {
  color: #444;
}
#nav .nav-con .all-list dl dd .second-list li p {
  float: left;
  width: 310px;
}
#nav .nav-con .all-list dl dd .second-list li p a {
  padding-right: 13px;
  float: left;
  color: #666;
  white-space: nowrap;
}
#nav .nav-con .all-list dl dd .second-list li p a:hover {
  color: #2ad0ff;
}
#nav .nav-con .all-list dl dd .hotbrand {
  float: left;
  width: 200px;
  background: #f8f8f8;
  padding: 15px;
}
#nav .nav-con .all-list dl dd .hotbrand h5 {
  height: 30px;
  border-bottom: 1px solid #666;
  font-size: 12px;
  line-height: 30px;
  color: #666;
  font-family: simsun;
  font-weight: bold;
}
#nav .nav-con .all-list dl dd .hotbrand ul {
  width: 200px;
  padding: 10px 0;
  float: left;
}
#nav .nav-con .all-list dl dd .hotbrand ul li {
  float: left;
  width: 100px;
  border: none;
  padding: 0;
  font-size: 12px;
  line-height: 22px;
  font-family: simsun;
}
#nav .nav-con .all-list dl a:hover {
  color: #2ad0ff;
}
#nav .nav-con .all-list .list0 {
  top: 40px;
}
#nav .nav-con .all-list .list1 {
  top: 131px;
}
#nav .nav-con .all-list .list2 {
  top: 222px;
}
#nav .nav-con .all-list .list3 {
  top: 313px;
}
#nav .nav-con .all-list .list4 {
  top: 404px;
}
#nav .nav-con .all-list .list5 {
  top: 495px;
}
#nav .nav-con .all-list .list6 {
  top: 586px;
}
#nav .nav-con .first-list {
  float: left;
}
#nav .nav-con .first-list li {
  float: left;
}
#nav .nav-con .first-list li a {
  display: block;
  height: 40px;
  padding: 0 30px;
  color: #fff;
  font-family: "微软雅黑";
  background: url(../img/navlibg.jpg) no-repeat left center;
}
#nav .nav-con .first-list li a:hover {
  color: #2ad0ff;
}
#nav .nav-con .first-list li:first-child a {
  padding-left: 40px;
  background: none;
}

/*footer*/
#footer {
  height: 200px;
  background: url(../img/f_03.jpg) repeat-x;
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
  margin-top: 30px;
}
#footer .footer-con {
  width: 1200px;
  height: 150px;
  margin: 0 auto;
  padding: 25px 0;
}
#footer .footer-con .contact-us {
  float: left;
  width: 240px;
  height: 145px;
  border-right: 1px solid #e1e1e1;
  padding-left: 45px;
  padding-top: 5px;
}
#footer .footer-con .contact-us .tel {
  width: 200px;
  height: 45px;
  background: url(../img/detail.gif) no-repeat 0 -157px;
  text-align: right;
  padding-top: 4px;
}
#footer .footer-con .contact-us .tel p:first-child {
  padding-right: 10px;
  font-size: 18px;
  color: #ff1a3a;
  font-weight: bold;
  font-style: italic;
  font-family: arial;
}
#footer .footer-con .contact-us .weibo {
  width: 167px;
  height: 22px;
  background: url(../img/w.jpg) no-repeat;
  margin-top: 10px;
  padding-left: 33px;
  font-size: 14px;
  line-height: 22px;
  font-weight: bold;
  font-family: "微软雅黑";
}
#footer .footer-con .contact-us .weibo a {
  float: right;
}
#footer .footer-con .contact-us .dingyue {
  width: 200px;
  height: 26px;
  margin-top: 10px;
}
#footer .footer-con .contact-us .dingyue input {
  width: 140px;
  height: 24px;
  background: #fff;
  border: 1px solid #e8e8e8;
  padding-left: 3px;
  font-size: 12px;
  line-height: 24px;
  color: #666;
  outline: none;
}
#footer .footer-con .contact-us .dingyue a {
  float: right;
}
#footer .footer-con .contact-us .ps {
  color: #9b9b9b;
  line-height: 30px;
  padding-left: 3px;
}
#footer .footer-con dl {
  float: left;
  width: 100px;
  height: 147px;
  border-right: 1px solid #e1e1e1;
  padding-left: 25px;
  padding-top: 3px;
}
#footer .footer-con dl dt {
  margin-bottom: 15px;
}
#footer .footer-con dl dt a {
  font-size: 16px;
  color: #444;
  font-family: "微软雅黑";
}
#footer .footer-con dl dd a {
  height: 22px;
  line-height: 22px;
  color: #999;
  font-family: arial,\5b8b\4f53;
}
#footer .footer-con .wechat {
  float: left;
  width: 120px;
  height: 135px;
  background: url(../img/ss.jpg) no-repeat 35px 110px;
  padding-left: 38px;
  padding-top: 15px;
}
#footer .footer-con .wechat img {
  border: 1px solid #e1e1e1;
}

/*foot-bottom*/
.bottom-con {
  width: 880px;
  height: 100px;
  border-bottom: 1px solid #ccc;
  padding: 30px 160px;
  margin: 0 auto;
}
.bottom-con dl {
  float: left;
  width: 150px;
  height: 110px;
  margin: 0 35px;
}
.bottom-con dl dt {
  width: 108px;
  height: 50px;
  margin-left: 21px;
  margin-bottom: 10px;
}
.bottom-con dl dd {
  height: 20px;
  line-height: 20px;
  text-align: center;
  font-size: 14px;
  color: #444;
  font-family: "微软雅黑";
}

/*biean*/
.biean {
  height: 44px;
  line-height: 44px;
  text-align: center;
  font-size: 14px;
  color: #444;
  font-family: "微软雅黑";
}

.content {
  width: 980px;
  margin: 0 auto;
}
.content .current {
  width: 980px;
  height: 34px;
  margin-top: 15px;
  line-height: 34px;
  color: #999;
  border-bottom: 2px solid #78b5f4;
}
.content .current a {
  color: #333;
}
.content .current a:hover {
  color: #FF1A3A;
}
.content .current span {
  margin: 0 8px;
}
.content .current strong {
  color: #4E7FC2;
}
.content .intro {
  width: 980px;
  height: 408px;
  padding-top: 15px;
  border-bottom: 2px solid #e4e4e4;
}
.content .intro .intro-img {
  float: left;
  width: 457px;
  height: 408px;
  position: relative;
}
.content .intro .intro-img #pic-btn {
  float: left;
  width: 72px;
  height: 380px;
}
.content .intro .intro-img #pic-btn li {
  display: block;
  width: 72px;
  height: 72px;
  margin-bottom: 5px;
  cursor: pointer;
}
.content .intro .intro-img #pic-btn li img {
  width: 70px;
  height: 70px;
  border: 1px solid #e4e4e4;
}
.content .intro .intro-img #pic-btn .pic-cur img {
  border-color: #78B5F4;
}
.content .intro .intro-img #pic-cur {
  float: left;
  width: 350px;
  height: 350px;
  margin-left: 15px;
  cursor: move;
  background: red;
  position: relative;
}
.content .intro .intro-img #pic-cur img {
  width: 350px;
  height: 350px;
}
.content .intro .intro-img #pic-cur #magnifier {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 170px;
  height: 170px;
  border: 1px solid #0069ce;
  background: #eaffff;
  opacity: 0.3;
  -moz-opacity: 0.3;
  filter: alpha(opacity=30);
  z-index: 10;
}
.content .intro .intro-img #pic-cur #masklayer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: red;
  opacity: 0;
  -moz-opacity: 0;
  filter: alpha(opacity=0);
  z-index: 11;
}
.content .intro .intro-img #bigPic-cur {
  display: none;
  position: absolute;
  top: -7px;
  left: 457px;
  width: 391px;
  height: 391px;
  border: 1px solid #c5c5c5;
  overflow: hidden;
  z-index: 10000;
}
.content .intro .intro-img #bigPic-cur .bigPic-box {
  width: 800px;
  height: 800px;
  position: absolute;
  top: 0;
  left: 0;
}
.content .intro .intro-img #bigPic-cur .bigPic-box img {
  width: 100%;
  height: 100%;
}
.content .intro .intro-img .datu {
  float: right;
  width: 100px;
  height: 15px;
  margin-top: 8px;
  text-align: right;
}
.content .intro .intro-img .datu img {
  display: inline-block;
}
.content .intro .intro-img .datu a {
  color: #4063a7;
}
.content .intro .intro-img .spell {
  float: left;
  width: 307px;
  height: 23px;
  padding-left: 150px;
  text-align: center;
}
.content .intro .intro-img .spell span {
  float: left;
  line-height: 24px;
}
.content .intro .intro-img .spell a {
  float: left;
  width: 22px;
  height: 23px;
  overflow: hidden;
  background: url(../img/product/icon_site.gif) no-repeat;
}
.content .intro .intro-img .spell #site-sina {
  background-position: -93px -24px;
}
.content .intro .intro-img .spell #site-sina:hover {
  background-position: -93px 0px;
}
.content .intro .intro-img .spell #site-qzone {
  background-position: 0 -24px;
}
.content .intro .intro-img .spell #site-qzone:hover {
  background-position: 0 0px;
}
.content .intro .intro-img .spell #site-renren {
  background-position: -47px -24px;
}
.content .intro .intro-img .spell #site-renren:hover {
  background-position: -47px 0px;
}
.content .intro .intro-img .spell #site-kaixing {
  background-position: -70px -24px;
}
.content .intro .intro-img .spell #site-kaixing:hover {
  background-position: -70px 0px;
}
.content .intro .intro-img .spell #site-douban {
  background-position: -24px -24px;
}
.content .intro .intro-img .spell #site-douban:hover {
  background-position: -24px 0px;
}
.content .intro .intro-img .spell #site-qz {
  background-position: -139px -24px;
}
.content .intro .intro-img .spell #site-qz:hover {
  background-position: -139px 0px;
}
.content .intro .intro-con {
  float: right;
  width: 503px;
  height: 408px;
}
.content .intro .intro-con h2 {
  padding: 10px;
  font-size: 16px;
  line-height: 20px;
  color: #333;
  font-weight: bold;
  word-break: break-all;
  word-wrap: break-word;
}
.content .intro .intro-con .cppro {
  padding: 12px 10px 2px 10px;
  border-top: 1px dotted #e4e4e4;
  width: 483px;
}
.content .intro .intro-con .cppro p {
  height: 29px;
}
.content .intro .intro-con .cppro p .pro_name {
  float: left;
  width: 66px;
  height: 28px;
  padding-top: 1px;
}
.content .intro .intro-con .cppro p .n_neir {
  float: left;
  width: 417px;
  height: 29px;
}
.content .intro .intro-con .cppro p .n_neir strong {
  font-size: 16px;
  font-weight: bold;
}
.content .intro .intro-con .cppro p .n_neir i {
  margin-left: 30px;
}
.content .intro .intro-con .cppro p .n_neir a {
  color: #4063A7;
}
.content .intro .intro-con .cppro p .n_neir a:hover {
  color: #FF1A3A;
}
.content .intro .intro-con .cppro p .n_neir .star {
  float: left;
  width: 70px;
  height: 13px;
  position: relative;
}
.content .intro .intro-con .cppro p .n_neir .star u {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../img/product/xin_small.png) no-repeat;
  z-index: 3;
}
.content .intro .intro-con .cppro p .n_neir .star em {
  position: absolute;
  top: 0;
  left: 0;
  width: 95%;
  height: 100%;
  background: url(../img/product/xin_smallmid.jpg) repeat-x;
  z-index: 1;
}
.content .intro .intro-con .cppro p .n_neir .talk {
  margin-left: 45px;
}
.content .intro .intro-con .cppro p .n_neir .talk span {
  color: #fc7f0f;
}
.content .intro .intro-con .cppro p .n_neir .redTxt {
  margin-right: 30px;
  color: #d11010;
}
.content .intro .intro-con .cppro p .n_neir .baozhang {
  float: left;
  padding: 0 15px 0 25px;
  background-position: left center;
}
.content .intro .intro-con #buyBox {
  height: 72px;
  background: #fffcf3;
  border: 1px solid #f5debc;
  padding-left: 21px;
  line-height: 72px;
}
.content .intro .intro-con #buyBox p {
  float: left;
}
.content .intro .intro-con #buyBox p img {
  display: inline-block;
  vertical-align: middle;
  width: 13px;
  height: 13px;
  cursor: pointer;
}
.content .intro .intro-con #buyBox p .buyNum {
  display: inline-block;
  width: 30px;
  height: 20px;
  border: 1px solid #cdccc7;
  margin: 0 4px;
  text-align: center;
  font-family: verdana,geneva,arial,helvetica,sans-serif;
}
.content .intro .intro-con #buyBox button {
  width: 140px;
  height: 40px;
  margin: 0 20px;
  vertical-align: middle;
  border: none;
  cursor: pointer;
}
.content .intro .intro-con #buyBox #buyBtn {
  background: url(../img/product/btnGroup.gif) no-repeat 0px 0px;
}
.content .intro .intro-con #buyBox #favBtn {
  background: url(../img/product/btnGroup.gif) no-repeat 0px -42px;
}

/*# sourceMappingURL=product.css.map */
